<section data-ng-controller="StatsController" data-ng-init="initialize()">
		<div class="form-group" class="col-md-2 col-md-offset-8" style="text-align: right">
			<label for="description" class="control-label">Weekly mode</label>
			<input type="checkbox" data-ng-model="weekly" id="public" ></input>
		</div>
        <div class="row" ng-show="!weekly">
        	<div data-ng-repeat="config in chartsConfig">
        		<highchart config="config"></highchart>
        	</div>
        </div>
        <div class="row" ng-show="weekly">
        	<div data-ng-repeat="config in weeklyCharts">
        		<highchart config="config"></highchart>
        	</div>
        </div>
</section>