<section data-ng-controller="WorkoutsController" data-ng-init="findOne()">
	<div class="row">
		<h1>{{program.title}}</h1> 
	</div>
	<div class="row">
		<div class="col-md-3">
			<ul class="example-animate-container">
				<li ng-repeat="exercise in program.exercises">
					<span ng-show="{{exercise.exercise}}">{{exercise.exercise.title}}</span> <br />
					<span ng-show="{{exercise.pause}}">Pause: {{exercise.pause}}</span>
				</li>
			</ul>
		</div>
		<div class="col-md-9" ng-switch="workoutState">
			<span ng-switch-when="NOT_RUNNING">
				{{program.description}}
			</span>
			<span ng-switch-when="RUNNING">
				{{program.description}}
			</span>
			<span ng-switch-when="PAUSE">
				{{program.description}}
			</span>
			<span ng-switch-when="DONE">
				Congratulations! You've done your workout!
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 text-center" ng-switch="workoutState">
			<button type="button" class="btn btn-success btn-lg" ng-click="start()" ng-switch-when="NOT_RUNNING">
			  START
			</button>
			
			<span ng-switch-when="RUNNING">
				<button type="button" class="btn btn-success btn-lg" ng-click="next()">
				  NEXT
				</button>
				<button type="button" class="btn btn-warning btn-lg" ng-click="pause()">
				  PAUSE
				</button>
			</span>

			<span ng-switch-when="PAUSE">
				<button type="button" class="btn btn-success btn-lg" ng-click="next()">
				  RESUME
				</button>
			</span>

			<span ng-switch-when="DONE">
				<button type="button" class="btn btn-danger btn-lg" ng-click="exit()">
				  DONE
				</button>
			</span>
		</div>
	</div>
</section>