<section data-ng-controller="ProgramsController" data-ng-init="findOne()">
	<div class="row">
		<h1>{{program.title}}</h1> 
		<p>{{program.description}}</p><br />
		<article data-ng-repeat="exercise in program.exercises" class="container-fluid exercise-preview">
			<div class="row" ng-show="exercise.exercise.title">
				<div class="col-md-3 col-sm-4">
					<img width="185" src="{{exercise.exercise.minature}}">
				</div>
				<div class="col-md-9 col-sm-8">
					<h4><a href="{{exercise.exercise.video}}">{{exercise.title}}</a></h4>
					<div>{{exercise.exercise.description}}</div>
					<div ng-show="exercise.repetitions">
						Number of repetitions: {{exercise.repetitions}}
					</div>
					<div ng-show="exercise.exercise.length">
						Length: {{exercise.exercise.length}} s
					</div>
				</div>
			</div>
			<div class="row" ng-show="exercise.pause">
				<div class="col-md-12 col-sm-12">
					Pause: {{exercise.pause}} s
				</div>
			</div>
		</article>
	</div>
	<div class="row text-center">
		<button class="btn btn-lg btn-success" ng-click="startWorkout()">
			Start workout
		</button>
	</div>
</section>