<section data-ng-controller="ProgramsController" data-ng-init="find()">
	<h1>Your programs <a ng-href="#!/programs/create"><span class="glyphicon glyphicon-plus-sign"></span></a> </h1> 
  	<accordion>
	  	<accordion-group ng-repeat="program in programs" is-open="isopen">
	  		<accordion-heading>
				Average: {{program.rating.average}}
				Rated by: {{program.rating.usersCount}}<br />

	  			<b>{{program.title}}</b>
	  			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
	  		</accordion-heading>
	      	{{program.lead}}<br />
      	    <div class="btn-group">
		        <a class="btn btn-primary" data-ng-href="#!/programs/{{program._id}}" ng-model="checkModel.left" btn-checkbox>Details</a>
		        <a class="btn btn-primary" data-ng-href="#!/programs/{{program._id}}/edit" ng-model="checkModel.left" ng-show="program.user.name === global.user.name" btn-checkbox>Edit</a>
		        <a type="button" data-ng-href="#!/workout/{{program._id}}" class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Run</a>
		    </div>
	    </accordion-group>
    </accordion>
  	<h1>Default programs</h1>
	<accordion>
	  	<accordion-group ng-repeat="program in programs" is-open="isopen">
	  		<accordion-heading>
				Average: {{program.rating.average}}
				Rated by: {{program.rating.usersCount}}<br />

	  			{{program.title}}
	  			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
	  		</accordion-heading>
	      	{{program.lead}}<br />
	      	<a class="btn btn-primary" data-ng-href="#!/programs/{{program._id}}" ng-model="checkModel.left" btn-checkbox>Details</a>
	        <button type="button" class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Run</button>
	    </accordion-group>
    </accordion>
    <h1>Public programs</h1>
	<accordion>
	  	<accordion-group ng-repeat="program in publicPrograms" is-open="isopen">
	  		<accordion-heading>
	  			<rating value="program.rating" max="10" readonly="true"></rating>
	  			{{program.title}}
	  			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
	  		</accordion-heading>
	      	{{program.lead}}<br />
	      	<a class="btn btn-primary" data-ng-href="#!/programs/{{program._id}}" ng-model="checkModel.left" btn-checkbox>Details</a>
	        <button type="button" class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Run</button>
	    </accordion-group>
    </accordion>
</section>
